<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: headers}"></th:block>
    <link rel="stylesheet" href="/classic.css">
</head>

<body class="body">
<th:block th:replace="~{fragments.html :: logo}"></th:block>
<div id="content">
    <th:block th:replace="~{fragments.html :: menu}"></th:block>
    <div class="split" style="width:45%;">
        Telefon: 792 716 907

    </div>
    <div class="split" style="width:45%;">
        <iframe src="https://discord.com/widget?id=606439706443644930&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
</div>

</body>
</html>